@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(254, 254, 250);
    color: rgb(25,25,25);
    margin: 0;
    font-family: "Karla";
    font-size: 1.2em;
    height: 100%;
}
a {
    text-decoration: none;
    color: $link-color;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: $panel-text-color;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    line-height: 2.0em;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Image */

.test-img {
    object-fit: contain;
    display:block;
}

.medium-icon {
    max-width: 20px;
    max-height: 20px
}

/* Institute Image */

#ins-logo {
	margin: auto;
	display: block;
	max-height: 100px;
	text-align: center;
}

/* Project Page */

.project-preview {
    float:left;
    border: solid 1px #9B6A6C;
    padding: 3%;
}

.project-divider {
    display:none;
    position:absolute;
    left:0;
    height:1px;
    background-color:#444444;
    width:100%;
}

.project-detail {
    margin-bottom:3em;
    display:block;
}

.project-detail-divider {
    height: 1px;
    background-color: #bbbbbb;
}

.panel-item {
    color: #dcdcdc;
}

.project-header {
    text-decoration: none;
    float:left;
    font-weight: bolder;
    margin:0 auto;
}

.project-header:hover {
    text-decoration: underline;
}

.project-toggle-button {
    top:50%;
    transform:translateY(35%);
    float:right;
}

.project-header-container {
    width:100%;
    cursor:pointer;
    overflow:auto;
    margin:0.5em auto;
    margin-top:1.5em;
    padding:0.5em 0;
}

.project-header-top {
    line-height:24px;
    font-size:24px;
}

.project-header-bottom { 
    line-height: 20px;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    background-color: #dedede;
    color: $panel-color;
}

.project-type {
    background-color: $panel-color;
    color: $panel-text-color;
}

.swift {
    background-color: #DE5C35;
    color: white;
}

.objc {
    background-color: #DE5C35;
    color: white;
}

.xcode {
    background-color: #5CA0FB;
    color: white;
}

.clang {
    background-color: #EEBD30;
    color: white;
}

.ruby {
    background-color: #AE0000;
    color: white;
}

.dbm {
    background-color: #563681;
    color: white;
}

.unix {
    background-color: black;
    color: #7ACC45;
}

/* Video */

.demo-video {
    padding-bottom: 56.25%; /* for 16:9 ratio */
    padding-top: 25px;
    position: relative;
    height: 0;
  }
  .demo-video iframe,
  .demo-video object,
  .demo-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size:20px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
        color: $panel-text-color;
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size:16px;
    }
    .project-header-top {
        line-height:20px;
        font-size:20px
    }
    
    .project-header-bottom { 
        line-height:16px;
        font-size:12px;
        transform:translateY(-8px);
    }
}

@import "typography";
@import "tables";
